/* Main Button Styles */
.main-btn {
  color: white;
  background-color: #3a6cf4;
  text-decoration: none;
  font-size: 1em;
  display: inline-block;
  padding: 12px 30px;
  letter-spacing: 1px;
  border-radius: 25px;
  margin-bottom: 20px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.main-btn:hover {
  background-color: #0a49f6;
  transform: translateY(-3px);
}

/* Social Icons Styles */
.social-icons {
  margin-top: 20px;
}

.social-icons a {
  color: #fff;
  font-size: 1.5em;
  margin: 0 10px;
  transition: color 0.3s ease, transform 0.3s ease;
}

.social-icons a:hover {
  color: #3a6cf4;
  transform: translateY(-3px);
}
